body {
  background-color: azure;
  width: 100%;
  height: 100%;
}
h1,
h2,
h3 {
  margin: 5%;
  color: darkblue;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: yellow;
  padding-left: 100px;
  text-align: center;
  height: auto;
}
.sidebar {
  font-family: Arial, Helvetica, sans-serif;
  background-color: teal;
}

.articles {
  font-family: Arial, Helvetica, sans-serif;
  background-color: thistle;
  text-align: left;
  padding-right: auto;
  padding-bottom: 50px;
}
.img {
  float: left;
  width: 50%;
}
.footer {
  background-color: silver;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 10%;
}

@media (min-width: 768px) {
  .header {
    background-color: green;
    padding-left: 100px;
  }
  .sidebar {
    background-size: auto;
  }
  .articles {
    padding-bottom: 150px;
  }
}

@media (min-width: 992px) {
  .header {
    background-color: grey;
  }
  .sidebar {
    float: left;
    height: 330px;
    padding-bottom: 100px;
  }
  .articles {
    margin-left: 500px;
  }
}
